<template>
  <div class="users-placeholder">
    <User />
    <User />
    <User />
    <User />
    <User />
    <User />
  </div>
</template>

<script>
import User from './User'
export default {
  components: {
    User
  }
}
</script>

<style lang="scss" scoped>
  .users-placeholder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
</style>
