<template>
  <div class="placeholder">
    <span class="round-shape" />
    <div class="placeholder__text">
      <div class="text-block">
        <span class="text-row" />
      </div>
      <div class="text-block">
        <span class="text-row" />
        <span class="text-row" />
        <span class="text-row" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .placeholder {
    flex-basis: 28.78%;
    max-width: 28.78%;
    margin-right: 5.7%;
    margin-bottom: 68px;
    display: flex;
    align-items: flex-start;

    span {
      background-color: #e2e2e2;
    }

    .round-shape {
      min-width:70px;
      min-height: 70px;
      margin-right: 10px;
      border-radius: 50%;
    }

    &__text {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 26px;

      span {
        display: block;
      }
    }

    &__text .text-row {
      height: 18px;
      margin-bottom: 1px;
    }

    .text-block:nth-of-type(1) {
      margin-bottom: 10px;
      .text-row {
        height: 18px;
        margin-bottom: 7px;
        margin-top: 0;
        width: 70%;
      }
    }

    .text-block:nth-of-type(2) {
      .text-row {
        margin-bottom: -2px;
        height: 10px;
      }
      .text-row:nth-of-type(1) {
        width: 86%;
        margin-bottom: 10px;
      }
      .text-row:nth-of-type(2) {
        width: 96%;
        margin-bottom: 5px;
      }
      .text-row:nth-of-type(3) {
        width: 56%;
      }
    }

    .text-block {
      width: 100%;
    }

    &:nth-of-type(3n+3) {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .placeholder {
      flex-direction: column;
      align-items: center;
      .text-row {
        margin-left: auto;
        margin-right: auto;
      }
      .round-shape {
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width: 678px) {
    .placeholder {
      flex-basis: 47%;
      max-width: 47%;
      margin-right: 6%;
      &:nth-of-type(3n+3) {
        margin-right: 6%;
      }
      &:nth-of-type(2n+2) {
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width: 560px) {
    .placeholder {
      flex-basis: 100%;
      max-width: 360px;
      margin-left: auto;
      margin-bottom: 29px;
      &:nth-of-type(n) {
        margin-right: auto;
      }
      &:nth-of-type(n+4) {
        display: none!important;
      }
    }
  }
</style>
