<template>
  <v-text-field
    v-model="name"
    :counter="10"
    :error-messages="errors"
    :label="label"
    required
  />
</template>

<script>
export default {
  props: {
    label: {
      required: true,
      type: String
    },
    name: {
      required: true,
      type: String
    },
    id: {
      required: false,
      type: String,
      default: ''
    },
    errors: {
      required: false,
      type: Object,
      default () {
        return { }
      }
    }
  }
}
</script>
