/* font connection mixin */
/* $f-name - font name */
/* $f-style - font style (normal|light|semibold etc) */
/* $f-weight - font weight (400|300|500 etc) */
/* $f-url - path to font */
@mixin font($f-name, $f-style, $f-weight, $f-url) {
  @font-face {
    font-family: $f-name;
    font-style:  $f-style;
    font-weight: $f-weight;
    font-display: swap;
    src:
      url('/fonts/#{$f-url}.woff2') format('woff2'),
      url('/fonts/#{$f-url}.woff') format('woff');
  }
}

@include font('Overpass-SemiBold', normal, 600, 'Overpass-SemiBold');
@include font('SourceSansPro-Bold', normal, 700, 'SourceSansPro-Bold');
@include font('SourceSansPro-Regular', normal, 400, 'SourceSansPro-Regular');
@include font('OpenSans-Regular', normal, 400, 'OpenSans-Regular');
