@import "fonts";
@import "scafolding";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.apple-fix {
  width: 100%;
  position: fixed;
}


.img-wrapper {
  display: inline-block;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.clearfix {
  &::after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

// main container
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  justify-content: space-between;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($black, 0.5);
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
  }
  &.sticky {
    overflow: unset;
  }
  &.overlay {
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
  //stick header to the top
  .header {
    flex: 0 0 auto;
  }
  main {
    position: relative;
    flex: 1 0 auto;
    padding-top: 63px;
  }
  //stick footer to the bottom
  .footer {
    flex: 0 0 auto;
  }
}
