* {
  box-sizing: border-box;
  font-synthesis: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  &:focus {
    outline: none !important;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $sans-regular, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;

  &.no-style {
    padding: 0;
    list-style: none;
  }
}

button {
  border: none;
  cursor: pointer;
  background: none;
  box-shadow: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

img {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

[contenteditable='true']:empty:before {
  content: attr(data-placeholder);
  color: #131313;
  font-size: inherit;
  display: block; /* For Firefox */
}

select {
  appearance: none;

  &::-ms-expand {
    // для IE
    display: none;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

blockquote {
  margin: 0;
}

figure {
  margin: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: $desktop-xl) {
    padding: 0 47px;
  }
  @media screen and (max-width: $tablet) {
    padding: 0 24px;
  }
  @media screen and (max-width: $mobile) {
    padding: 0 15px;
  }
}

h1 {
  color: #393939;
  font-family: $default-font;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;

  &.tablet {
    font-size: 42px;
    line-height: 51px;
  }

  &.mobile {
    font-size: 30px;
    line-height: 35px;
  }

  @media screen and (max-width: $tablet) {
    font-size: 42px;
    line-height: 51px;
  }

  @media screen and (max-width: $mobile) {
    font-size: 30px;
    line-height: 35px;
  }
}

h2 {
  //color: #393939;
  font-family: $default-font;
  font-size: 42px;
  font-weight: 400;
  line-height: 51px;

  &.mobile {
    font-size: 26px;
    line-height: 31px;
  }

  @media screen and (max-widtH: $mobile) {
    font-size: 26px;
    line-height: 31px;
  }
}

h3 {
  color: #393939;
  font-family: $default-font;
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;

  &.mobile {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.2px;
  }

  @media screen and (max-width: $mobile) {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.2px;
  }
  @media screen and (max-width: 920px) and (max-height: 500px) {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.2px;
  }
}

h4 {
  color: #393939;
  font-family: $default-font;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.2px;
}

h5 {
  color: #393939;
  font-family: $secondary-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

  &.mobile {
    font-size: 16px;
    line-height: 20px;
  }

  @media screen and (max-width: $mobile) {
    font-size: 16px;
    line-height: 20px;
  }
  @media screen and (max-width: 920px) and (max-height: 500px) {
    font-size: 16px;
    line-height: 20px;
  }
}

p.paragraph_1 {
  font-size: 18px;
  line-height: 26px;
  font-family: $secondary-font;
  font-weight: 400;
  margin-top: 4px;
  letter-spacing: 0.07px;
}

p.paragraph_2 {
  font-size: 16px;
  line-height: 22px;
  font-family: $secondary-font;
  font-weight: 400;
  margin-top: 4px;
  letter-spacing: -0.09px;
}

p.paragraph_3 {
  font-size: 14px;
  line-height: 20px;
  font-family: $secondary-font;
  font-weight: 400;
  margin-top: 4px;
  letter-spacing: 0.09px;
}

.v-application a, a {
  color: #000000;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  transition: .2s ease;

  &.link-bg {
    color: #ffffff;
  }

  &:hover {
    color: #ef6c00;
  }

  &.link-b {
    color: #ef6c00;
    font-family: $secondary-font-bold;
    font-size: 22px;
    font-weight: 700;

    &:hover {
      color: #fc831f;
    }
  }
}

.menu {
  a {
    cursor: pointer;
    color: #000;

    &:active {
      color: $primary-color;
    }

    &.active {
      color: $secondary-color;
      pointer-events: none;
    }
  }
}

.icon {

  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  g, path, polygon {
    transition: .05s ease;
  }

  &:hover {
    g, path, polygon {
      fill: $primary-color
    }
  }

  &--secondary {
    &:hover {
      g, path, polygon {
        fill: #2638bb;
      }
    }
  }
}

.btn {
  width: 100%;
  max-width: 290px;
  height: 40px;
  border-radius: 4px;
  background-color: #ef6c00;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  font-family: $secondary-font-bold;
  font-size: 20px;
  font-weight: 700;
  transition: .2s ease;

  &:not(&--disabled):not(&--outlined):hover {
    background-color: #fc831f;
  }

  &--disabled {
    background-color: #d7d7d7;
    color: #8d8c8c;
    cursor: default;
  }

  &--outlined {
    border: 2px solid #ef6c00;
    background: #fff;
    color: #ef6c00;

    &:hover {
      background-color: rgba(#fc831f, 0.2);
    }
  }
}

input {
  &::-ms-clear {
    display: none;
  }
}

.v-tooltip__content {
  padding: 5px 13px 5px 10px !important;
  box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.11) !important;
  border-radius: 4px !important;
  background-color: #707070 !important;
  color: #fefefe !important;
  font-family: 'SourceSansPro-Regular', sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
  word-break: break-word;
}

.v-application p {
  margin-bottom: 0;
}
