<template>
  <figure id="about" class="about">
    <div class="container">
      <h2>{{ $t("about.header") }}</h2>
      <div class="about__wrapper">
        <div class="about__img">
          <img src="/images/hotpng.com.png" />
        </div>
        <div class="about__info">
          <h3>{{ $t("about.text1") }}</h3>
          <p class="paragraph_2">
            {{ $t("about.text2") }}
          </p>
          <h3>{{ $t("about.text3") }}</h3>
          <p class="paragraph_2">
            {{ $t("about.text4") }}
          </p>
          <h3>{{ $t("about.text5") }}</h3>
          <p class="paragraph_2">
            {{ $t("about.text6") }}
          </p>
          <h3>{{ $t("about.text7") }}</h3>
          <p class="paragraph_2">
            {{ $t("about.text8") }}
          </p>
          <h3>{{ $t("about.text9") }}</h3>
          <p class="paragraph_2">
            {{ $t("about.text10") }}
          </p>
        </div>
      </div>
    </div>
  </figure>
</template>

<script>
export default {
}
</script>

<style scoped lang="scss">

  .about {
    padding-top: 128px;
    padding-bottom: 133px;

    img {
      max-width: 289px;
    }

    @media screen and (min-width: 1920px) {
      padding-top: 130px;
    }

    h2 {
      text-align: center;
      margin-bottom: 29px;

      @media screen and (min-width: 1920px) {
        font-size: 43px;
      }
    }

    &__wrapper {
      display: flex;

      @media screen and (min-width: 1920px) {
        padding: 0 0 0 36px;
      }
    }
    &__img {
      margin-right: 30px;
      @media screen and (min-width: 1920px) {
        margin-top: 21px;
        margin-right: 64px;
      }
    }
    &__info {
      padding-top: 16px;
    }

    h3 {
      margin-bottom: 9px;
    }
    p.paragraph_2 {
      margin-bottom: 22px;
      margin-top: 0;
      letter-spacing: 0.004px;
      color: #4c4b4b;
      &:last-of-type {
        margin-bottom: 18px;
        @media screen and (min-width: 1920px) {
          margin-bottom: 10px;
        }
      }
    }
  }

  @media screen and (max-width: $mobile-big) {
    .about {
      padding-top: 90px;
      padding-bottom: 90px;

      &__img {
        svg {
          width: 219px;
        }
      }

      h2 {
        margin-bottom: 14px;
      }

      &__info {
        padding-top: 29px;
      }

      h3 {
        margin-bottom: 13px;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    .about {
      padding-top: 56px;
      padding-bottom: 52px;

      &__wrapper {
        flex-direction: column;
        align-items: center;
      }
      h2 {
        margin-bottom: -6px;
      }
      &__img {
        margin: 0 0 -15px 0;
      }
      &__info {
        padding-top: 0;
      }
      h3 {
        text-align: center;
        padding: 0 20px;
        margin-bottom: 15px;
      }
      p.paragraph_2 {
        text-align: center;
        &:last-of-type {
          margin-bottom: 12px;
        }
      }
      a {
        margin: 0 auto;
        display: block;
        width: 75px;
      }
    }
  }
</style>
