<template>
  <div class="banner">
    <div class="container">
      <h1>
        {{ $t("banner.text1") }}
        <br>
        {{ $t("banner.text2") }}
        <br>
        {{ $t("banner.text3") }}
      </h1>
      <p>
        {{ $t("banner.text4") }}
        <br>
        {{ $t("banner.text5") }}
        <span>
          <br>
          {{ $t("banner.text6") }}
          <br>
          {{ $t("banner.text7") }}
        </span>
      </p>
      <nuxt-link to="/#users" class="btn signup-cta">
Наші найкращі співробітники
      </nuxt-link>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .banner {
    padding-top: 130px;
    padding-bottom: 142px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: $secondary-color;
    background-image: url(~assets/images/chair-2584260_1920.jpg);
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }

    .container {
      position: relative;
      z-index: 1;
    }

    h1 {
      color: #fff;
      margin-bottom: 22px;
    }

    p {
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      font-family: $secondary-font;
      margin-bottom: 33px;
    }

    .btn {
      font-weight: 700;
      font-size: 20px;
      font-family: "SourceSansPro-Bold", sans-serif;
      color: #fefefe;
      width: 330px;
      max-width: 330px;
    }
  }

  @media screen and (max-width: $desktop) {
    .banner {
      padding-bottom: 160px;
      p {
        max-width: 450px;
        margin-bottom: 39px;
        br {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: $mobile-big) {
    .banner {
      padding-top: 110px;
      padding-bottom: 122px;
      h1 {
        margin-bottom: 23px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 32px;
        max-width: 400px;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    .banner {
      padding-top: 64px;
      padding-bottom: 69px;

      h1 {
        text-align: center;
        margin-bottom: 12px;
      }
      p {
        text-align: center;
        max-width: 285px;
        font-size: 16px;
        line-height: 22px;
        margin: 0 auto 36px;
        br {
          display: none;
        }
        span {
          display: none;
        }
      }
      .btn {
        margin: auto;
      }
    }
  }
</style>
