<template>
  <div id="relationship" class="technologies">
    <div class="container">
      <h2 v-html="$t('technologies.header')" />
      <div class="technologies__wrapper">
        <div class="technologies__item">
          <div class="technologies__img">
            <img src="/images/pngbarn.png" />
          </div>
          <div class="technologies__info">
            <h3 v-html="$t('technologies.subheader1')" />
            <p class="paragraph_2" v-html="$t('technologies.text1')" />
          </div>
        </div>
        <div class="technologies__item">
          <div class="technologies__img">
            <img src="/images/247.png" />
          </div>
          <div class="technologies__info">
            <h3 v-html="$t('technologies.subheader2')" />
            <p class="paragraph_2" v-html="$t('technologies.text2')" />
          </div>
        </div>
        <div class="technologies__item">
          <div class="technologies__img">
            <img src="/images/3.png" />
          </div>
          <div class="technologies__info">
            <h3 v-html="$t('technologies.subheader3')" />
            <p class="paragraph_2" v-html="$t('technologies.text3')" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>

  .technologies {
    background-color: #f6f6f6;
    padding-top: 130px;
    padding-bottom: 135px;

    h2 {
      text-align: center;
      margin-bottom: 48px;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      flex-basis: 31.4%;
      img {
        max-width: 91px;
      }
      &:nth-of-type(3) {
        img {
          height: 90px;
        }
        p.paragraph_2 {
          margin-left: 5px;
        }
      }
    }
    &__item:nth-of-type(1) .technologies__info {
      br {
        display: none;
      }
    }
    h3 {
      margin-top: 15px;
      margin-bottom: 9px;
    }
    p.paragraph_2 {
      margin-left: 2px;
      padding-right: 5px;
      letter-spacing: 0.001px;
      color: #4c4b4b;
    }
  }

  @media screen and (min-width: 1280px) {
    .technologies {
      padding-top: 133px;
    }
  }

  @media screen and (min-width: 1080px) {
    .technologies {
      &__item{
        flex-basis: 31.8%;
        br {
          display: none;
        }
      }
      &__item:nth-of-type(2) {
        .paragraph_2 {
          padding-right: 43px;
        }
      }
    }
  }

  @media screen and (max-width: $tablet) {
    .technologies {
      &__item {
        br {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: $mobile-big) {
    .technologies {
      padding-top: 90px;
      padding-bottom: 79px;
      &__wrapper {
        flex-wrap: wrap;
      }
      &__item {
        flex-basis: 100%;
        display: flex;
        margin-bottom: 29px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      &__img {
        margin-right: 34px;
        margin-left: 63px;
      }
      &__info {
        margin-top: -20px;
        padding-right: 50px;
      }
      &__item:nth-of-type(3) {
        .technologies__info {
          padding-right: 107px;
        }
        p.paragraph_2 {
          margin-left: 3px;
          padding-right: 0;
        }
      }
      h2 {
        margin-bottom: 44px;
      }
      &__item svg {
        width: 90px;
      }
      h3 {
        margin-top: 20px;
        margin-bottom: 9px;
      }
    }
  }

  @media screen and (max-width: 676px) {
    .technologies {
      &__info {
        padding-right: 0;
      }
      &__item:nth-of-type(3) {
        .technologies__info {
          padding-right: 0;
        }
      }
    }
  }

  @media screen and (max-width: $mobile) {
    .technologies {
      padding-top: 55px;
      padding-bottom: 56px;
      h2 {
        max-width: 275px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        letter-spacing: 0.101px;
        br {
          display: none;
        }
      }

      &__item {
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
        &:last-of-type {
          margin-top: 5px;
        }
        &:nth-of-type(2) {
          margin-bottom: 19px;
        }
        &:nth-of-type(3) p.paragraph_2 {
          margin-left: auto;
        }
      }
      &__item:last-of-type .technologies__img {
        margin-bottom: -1px;
      }
      h3 {
        text-align: center;
        margin-bottom: 5px;
      }
      p.paragraph_2 {
        text-align: center;
        max-width: 290px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
      }

      &__img {
        margin-right: 0;
        margin-bottom: -6px;
        margin-left: 0;
      }
      &__img svg {
        width: 88px;
      }
      &__item:nth-of-type(1) .technologies__info {
        br {
          display: inline;
        }
      }
    }
  }
</style>
