<template>
  <div v-if="!response.error.status" id="users" class="users" :class="{'no-btn': !meta.isMore}">
    <div class="container">
      <h2 style="margin-bottom: 50px">{{ $t("users.header") }}</h2>
      <div class="users__wrapper">
        <template v-if="meta.isLoaded">
          <User
            name="Діана Тарасович Панасюк"
            position="Кардіолог"
            phone="+380959343869"
            photo="/images/img_1.jpg"
          />
          <User
            name="Васильчук Анна Михайлович"
            position="Акушер-гінеколог"
            phone="+380956354843"
            photo="/images/img_2.jpg"
          />
          <User
            name="Антоненко Надія Миколайович"
            position="Ендокринолог, дієтолог"
            phone="+380959952405"
            photo="/images/img_3.jpg"
          />
          <User
            name="Леонід Андрійович Шевчук"
            position="Фізіотерапевт"
            phone="+380955338299"
            photo="/images/img_4.jpg"
          />
          <User
            name="Владислав Васильович Лисенко"
            position="Кардіохірург, доктор медичних наук"
            phone="+380953599638"
            photo="/images/img_5.jpg"
          />
          <User
            name="Боднаренко Ігор Романович"
            position="Анестезіолог, лікар інтенсивної терапії"
            phone="+380956898387"
            photo="/images/img_6.jpg"
          />
        </template>
        <UsersPlaceholder v-else />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import User from './User'
import { getUsersAPI } from '~/api/users'
import UsersPlaceholder from '~/components/Placeholders/Users/Users'

export default {
  components: {
    User,
    UsersPlaceholder
  },
  computed: {
    ...mapGetters({
      users: 'users/getData',
      meta: 'users/getMeta',
      response: 'users/getResponse'
    })
  },
  async mounted () {
    const { result, status, links } = await getUsersAPI(1, window.innerWidth < 560 ? 3 : 6)
    if (status !== 200) {
      this.setUsersError({ status: true, info: result })
      this.setUsersSuccess(false)
      return
    }
    this.setData(result)
    this.setUsersError({ status: false, info: null })
    this.setUsersSuccess(true)
    this.setUsersMeta({
      isLoaded: true,
      isLoading: false,
      isMore: Boolean(links.next_url),
      loadWidth: window.innerWidth
    })
  },
  methods: {
    ...mapMutations({
      setData: 'users/setData',
      setUsersSuccess: 'users/setUsersSuccess',
      setUsersError: 'users/setUsersError',
      setUsersMeta: 'users/setUsersMeta',
      addData: 'users/addData'
    }),
    async handleClick () {
      let nextPage
      if (window.innerWidth > 560 && this.users.length % 6 !== 0) {
        if (this.users.length < 6) {
          this.setData([])
          this.setUsersMeta({
            isLoaded: false
          })
          nextPage = 1
        } else {
          this.setData(this.users.slice(0, this.users.length - 3))
          nextPage = Math.ceil(this.users.length / 6)
        }
      } else {
        nextPage = Math.ceil(this.users.length / (window.innerWidth < 560 ? 3 : 6)) + 1
      }
      this.setUsersMeta({
        isLoading: true
      })
      const { result, status, links } = await getUsersAPI(nextPage,
        window.innerWidth < 560 ? 3 : 6)
      if (status !== 200) {
        this.setUsersError({ status: true, info: result })
        this.setUsersSuccess(false)
        return
      }
      this.addData(result)
      this.setUsersError({ status: false, info: null })
      this.setUsersSuccess(true)
      this.setUsersMeta({
        isLoaded: true,
        isLoading: false,
        page: nextPage,
        isMore: Boolean(links.next_url),
        loadWidth: window.innerWidth
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .users {
    padding-top: 130px;
    padding-bottom: 139px;

    &.no-btn {
      padding-bottom: 79px;
    }

    h2 {
      text-align: center;
      margin-bottom: 13px;
    }

    &__note {
      text-align: center;
      font-size: 18px;
      font-family: $secondary-font;
      font-weight: 400;
      margin-bottom: 56px;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__wrapper .User {
      flex-basis: 28.78%;
      max-width: 28.78%;
      margin-right: 5.7%;
      margin-bottom: 60px;

      &:nth-of-type(3n+3) {
        margin-right: 0;
      }
    }

    .btn {
      margin: -7px auto 0;
    }
  }

  @media screen and (max-width: 768px) {
    .users {
      padding-top: 93px;
      padding-bottom: 100px;

      &.no-btn {
        padding-bottom: 63px;
      }

      &__note {
        margin-bottom: 36px;
      }

      &__wrapper {
        padding-left: 6px;
      }

      &__wrapper .User {
        margin-right: 6.2%;
        margin-bottom: 37px;
      }
    }
  }

  @media screen and (max-width: 678px) {
    .users {
      &__wrapper {
        padding-left: 0;
      }

      &__wrapper .User {
        flex-basis: 47%;
        max-width: 47%;
        margin-right: 6%;

        &:nth-of-type(3n+3) {
          margin-right: 6%;
        }

        &:nth-of-type(2n+2) {
          margin-right: 0;
        }
      }
    }
  }

  @media screen and (max-width: 560px) {
    .users {
      padding-top: 52px;
      padding-bottom: 60px;

      &.no-btn {
        padding-bottom: 31px;
      }

      h2 {
        margin-bottom: 15px;
      }

      &__wrapper .User {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 29px;

        &:nth-of-type(n) {
          margin-right: 0;
        }
      }

      &__note {
        font-size: 16px;
        max-width: 180px;
        margin: 0 auto 28px;
        text-align: center;
      }

      .btn {
        margin: -2px auto 0;
      }
    }
  }

</style>
