<template>
  <div class="User" itemscope itemtype="http://schema.org/Person">
    <div class="User__avatar">
      <img v-if="avatar" :src="avatar" :alt="name" itemprop="image">
      <div v-else>
        <AvatarPlaceholder />
      </div>
    </div>
    <div class="User__info">
      <span class="User__name" itemprop="name">
        {{ name }}
      </span>
      <span class="User__position" itemprop="jobTitle">{{ position }}</span>
      <Tooltip>
        <span ref="email" class="User__email" itemprop="email">{{ email }}</span>
      </Tooltip>
      <span class="User__phone" itemprop="telephone">{{ formatPhone(phone) }}</span>
    </div>
  </div>
</template>

<script>
import Tooltip from '../Tooltip'
import AvatarPlaceholder from '~/assets/svg/avatarPlaceholder.svg?inline'
export default {
  components: {
    AvatarPlaceholder,
    Tooltip
  },
  props: {
    name: {
      required: true,
      type: String
    },
    position: {
      required: true,
      type: String
    },
    email: {
      required: true,
      type: String
    },
    phone: {
      required: true,
      type: String
    },
    photo: {
      required: true,
      type: String
    }
  },
  data () {
    return {
      avatar: false
    }
  },
  mounted () {
    this.imageExists(this.photo)
  },
  methods: {
    imageExists (url) {
      const img = new Image()
      const that = this
      img.onload = function () {
        that.avatar = url
      }
      img.src = url
    },
    formatPhone (string) {
      const [, number] = string.split('+38')
      let numberString
      try {
        numberString = `+38 (${number.slice(0, 3)}) ${number.slice(
          3,
          6
        )} ${number.slice(6, 8)} ${number.slice(8, 10)}`
      } catch {
        numberString = string
      }
      return numberString
    }
  }
}
</script>

<style lang="scss" scoped>
.User {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__avatar {
    width: auto;
    height: auto;
    min-width: 70px;
    min-height: 70px;
    position: relative;
    div {
      width: inherit;
      height: inherit;
    }
    img {
      display: block;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    svg {
      background: #e2e2e2;
      height: 70px;
      width: 70px;
      padding-top: 10px;
    }
  }

  &__info {
    padding-top: 22px;
    max-width: 79%;
  }

  .User__name {
    font-size: 22px !important;
    line-height: 26px !important;
    font-family: $default-font;
    white-space: normal !important;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    text-align: center;
  }
  .User__email,
  .User__phone {
    color: #4c4b4b !important;
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 400;
     text-align: center;
  }

  &__position {
    color: #4c4b4b !important;
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 400;
    display: block;
    line-height: 19px;
     text-align: center;
  }

  &__email {
    margin-top: -2px;
     text-align: center;
  }
  &__phone {
    margin-top: -2px;
    display: block;
     text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .User {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info {
      width: 100%;
      max-width: 100%;
      text-align: center;
      padding-top: 10px;
    }

    &__avatar {
      margin-right: 0;
    }
    &__name {
      margin-bottom: 6px !important;
    }
  }
}

@media screen and (max-width: 560px) {
  .User {
    &__name {
      margin-bottom: 5px !important;
    }
  }
}
</style>
