<template>
  <div class="signUp-banner">
    <div class="container">
      <h1>{{ $t('signup.header') }}</h1>
      <div class="signUp-banner__wrapper">
        <div class="signUp-banner__info">
          <p class="paragraph_2">
            {{ $t('signup.text1' ) }}
          </p>
          <p class="paragraph_2">
            {{ $t('signup.text2' ) }}
          </p>
          <p class="paragraph_2">
            {{ $t('signup.text3') }}
          </p>
        </div>
        <div class="signUp-banner__image">
          <BannerImage />
          <BannerImageMobile />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BannerImage from '~/assets/svg/man-laptop-v1.svg?inline'
import BannerImageMobile from '~/assets/svg/man-laptop-v2.svg?inline'
export default {
  components: {
    BannerImage,
    BannerImageMobile
  }
}
</script>

<style lang="scss" scoped>
  .no-webp {
    .signUp-banner {
      @media screen and (min-width: 1920px) {
        background-image: url(~assets/images/bg-2-2560.jpg);
      }
      @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1920px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1920px) and (min-resolution: 192dpi) {
        background-image: url(~assets/images/bg-2-2560@2x.jpg);
      }

      @media screen and (min-width: 1440px) and (max-width: 1920px) {
        background-image: url(~assets/images/bg-2-1920.jpg);
      }
      @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1920px) and (min-width: 1440px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 1920px) and (min-resolution: 192dpi) and (min-width: 1440px) {
        background-image: url(~assets/images/bg-2-1920@2x.jpg);
      }

      @media screen and (min-width: 1025px) and (max-width: 1440px) {
        background-image: url(~assets/images/bg-2-1440.jpg);
      }
      @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1440px) and (min-width: 1024px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 1440px) and (min-resolution: 192dpi) and (min-width: 1024px) {
        background-image: url(~assets/images/bg-2-1440@2x.jpg);
      }

      @media screen and (min-width: 768px) and (max-width: 1024px) {
        background-image: url(~assets/images/bg-2-1024.jpg);
      }
      @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px) and (min-resolution: 192dpi) and (min-width: 768px) {
        background-image: url(~assets/images/bg-2-1024@2x.jpg);
      }

      @media screen and (min-width: 376px) and (max-width: 768px) {
        background-image: url(~assets/images/bg-2-768.jpg);
      }
      @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px) and (min-width: 376px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px) and (min-resolution: 192dpi) and (min-width: 376px) {
        background-image: url(~assets/images/bg-2-768@2x.jpg);
      }

      @media screen and (max-width: 393px) {
        background-image: url(~assets/images/bg-2-320.jpg);
      }
      @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 393px), (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (max-width: 393px) {
        background-image: url(~assets/images/bg-2-320@2x.jpg);
      }

    }
  }

  .signUp-banner {
    padding-top: 131px;
    padding-bottom: 137px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: $secondary-color;

    @media screen and (min-width: 1920px) {
      background-image: url(~assets/images/bg-2-2560.webp);
    }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1920px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1920px) and (min-resolution: 192dpi) {
      background-image: url(~assets/images/bg-2-2560@2x.webp);
    }

    @media screen and (min-width: 1440px) and (max-width: 1920px) {
      background-image: url(~assets/images/bg-2-1920.webp);
    }
    @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1920px) and (min-width: 1440px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 1920px) and (min-resolution: 192dpi) and (min-width: 1440px) {
      background-image: url(~assets/images/bg-2-1920@2x.webp);
    }

    @media screen and (min-width: 1025px) and (max-width: 1440px) {
      background-image: url(~assets/images/bg-2-1440.webp);
    }
    @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1440px) and (min-width: 1024px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 1440px) and (min-resolution: 192dpi) and (min-width: 1024px) {
      background-image: url(~assets/images/bg-2-1440@2x.webp);
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      background-image: url(~assets/images/bg-2-1024.webp);
    }
    @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px) and (min-resolution: 192dpi) and (min-width: 768px) {
      background-image: url(~assets/images/bg-2-1024@2x.webp);
    }

    @media screen and (min-width: 376px) and (max-width: 768px) {
      background-image: url(~assets/images/bg-2-768.webp);
    }
    @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px) and (min-width: 376px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px) and (min-resolution: 192dpi) and (min-width: 376px) {
      background-image: url(~assets/images/bg-2-768@2x.webp);
    }

    @media screen and (max-width: 393px) {
      background-image: url(~assets/images/bg-2-320.webp);
    }
    @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 393px), (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (max-width: 393px) {
      background-image: url(~assets/images/bg-2-320@2x.webp);
    }

    @media screen and (min-width: 768px) and (max-height: 750px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    h1 {
      color: #ffffff;
      margin-bottom: 44px;
      text-align: center;
      font-family: "Overpass-SemiBold", sans-serif;
      font-size: 42px;
      font-weight: 400;
      line-height: 51px;
    }
    &__wrapper {
      display: flex;
    }
    &__info {
      flex-basis: 48.39%;
      margin-right: 52px;
    }
    &__info .paragraph_2 {
      color: #fefefe;
      margin-bottom: 21px;
      margin-top: 0;
      letter-spacing: 0.001px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &__image {
      margin-top: 15px;

      svg {
        width: 100%;

        &:nth-of-type(2) {
          display: none;
        }
      }
    }
  }

  @media screen and (min-width: 1920px) {
    .signUp-banner {
      padding-bottom: 96px;
    }
  }

  @media screen and (min-width: 1440px) {
    .signUp-banner {
      &__info {
        margin-right: 96px;
      }
      &__image {
        margin-top: 3px;
      }
    }
  }

  @media screen and (max-width: 820px) {
    .signUp-banner {
      padding-top: 110px;
      padding-bottom: 122px;
      h1 {
        max-width: 420px;
        margin: 0 auto 42px;
      }
      &__info {
        margin-right: 40px;
      }

      &__image {
        margin-top: 3px;
        svg:nth-of-type(1) {
          display: none;
        }
        svg:nth-of-type(2) {
          display: block;
          width: auto;
        }
      }
    }
  }

  @media screen and (max-width: 750px) {
    .signUp-banner {
      &__image {
        svg:nth-of-type(2) {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 676px) {
    .signUp-banner {
      &__wrapper {
        display: flex;
        flex-direction: column-reverse;
      }
      &__image {
        margin-top: 0;
        margin-bottom: 30px;
        svg:nth-of-type(2) {
          display: none;
        }
        svg:nth-of-type(1) {
          display: block;
        }
      }
      &__info {
        margin-right: 0;
        .paragraph_2 {
          text-align: center;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .signUp-banner h1 {
      font-size: 26px;
      line-height: 31px;
    }
  }

  @media screen and (max-width: 560px) {
    .signUp-banner {
      padding-top: 64px;
      padding-bottom: 68px;
      h1 {
        margin-bottom: -43px;
      }
      &__image {
        margin-bottom: -50px;
        svg {
          max-width: 257px;
          position: relative;
          left: 17px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  @media screen and (max-width: 360px) {
    .signUp-banner {
      &__image svg {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

</style>
