<template>
  <div id="signup" class="signUp-form">
    <div class="container">
      <h2>Register to get a work</h2>
      <p class="signUp-form__note">
        Attention! After successful registration and alert, update the list of users in the block from the top
      </p>
      <form novalidate autocomplete="off">
        <div class="signUp-form__row">
          <div class="signUp-form__col-4">
            <v-text-field
              v-model="name"
              :error-messages="nameErrors"
              label="Your name"
              required
              @input="$v.name.$touch()"
              @blur="$v.name.$touch()"
            />
          </div>
          <div class="signUp-form__col-4">
            <v-text-field
              v-model="email"
              :error-messages="emailErrors"
              label="Your e-mail"
              required
              @input="$v.email.$touch()"
              @blur="$v.email.$touch()"
            />
          </div>
          <div class="signUp-form__col-4">
            <v-text-field
              v-model="phone"
              v-mask="{mask: '+38(0##) ### - ## - ##'}"
              :error-messages="phoneErrors"
              label="Phone"
              required
              @input="$v.phone.$touch()"
              @blur="$v.phone.$touch()"
            />
          </div>
        </div>
        <v-select
          v-model="select"
          :items="items"
          :error-messages="selectErrors"
          label="Item"
          required
          @change="$v.select.$touch()"
          @blur="$v.select.$touch()"
        />
        <v-checkbox
          v-model="checkbox"
          :error-messages="checkboxErrors"
          label="Do you agree?"
          required
          @change="$v.checkbox.$touch()"
          @blur="$v.checkbox.$touch()"
        />

        <v-btn class="mr-4" @click="submit">
          submit
        </v-btn>
        <v-btn @click="clear">
          clear
        </v-btn>
      </form>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, email, minLength } from 'vuelidate/lib/validators'
import { mask } from '@titou10/v-mask'
export default {
  directives: { mask },
  mixins: [validationMixin],
  validations: {
    name: { required, maxLength: maxLength(60), minLength: minLength(2) },
    email: { required, email },
    phone: { required, minLength: minLength(22) },
    select: { required },
    checkbox: {
      checked (val) {
        return val
      }
    }
  },

  data: () => ({
    name: '',
    email: '',
    phone: '',
    select: null,
    items: [
      'Item 1',
      'Item 2',
      'Item 3',
      'Item 4'
    ],
    checkbox: false
  }),

  computed: {
    checkboxErrors () {
      const errors = []
      if (!this.$v.checkbox.$dirty) { return errors }
      !this.$v.checkbox.checked && errors.push('You must agree to continue!')
      return errors
    },
    selectErrors () {
      const errors = []
      if (!this.$v.select.$dirty) { return errors }
      !this.$v.select.required && errors.push('Item is required')
      return errors
    },
    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) { return errors }
      !this.$v.name.maxLength && errors.push('Name must be at most 10 characters long')
      !this.$v.name.required && errors.push('Name is required.')
      return errors
    },
    phoneErrors () {
      const errors = []
      if (!this.$v.phone.$dirty) { return errors }
      !this.$v.phone.minLength && errors.push('Please enter valid phone')
      !this.$v.phone.required && errors.push('Name is required.')
      return errors
    },
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) { return errors }
      !this.$v.email.email && errors.push('Must be valid e-mail')
      !this.$v.email.required && errors.push('E-mail is required')
      return errors
    }
  },

  methods: {
    submit () {
      this.$v.$touch()
    },
    clear () {
      this.$v.$reset()
      this.name = ''
      this.email = ''
      this.select = null
      this.checkbox = false
    }
  }
}
</script>

<style lang="scss" scoped>
  .signUp-form {
    padding: 129px 0 141px;
    h2 {
      text-align: center;
      margin-bottom: 13px;
    }
    &__note {
      text-align: center;
      color: #010000;
      font-family: 'SourceSansPro-Regular';
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 61px;
    }
    &__row {
      display: flex;
      &:first-of-type {
        margin-bottom: 17px;
      }
    }
    &__row  {
      .signUp-form__col-4 {
        flex-basis: 32.18%;
        margin-right: 3%;
        &:last-of-type {
          margin-right: 0;
        }
      }
      .signUp-form__col-6 {
        flex-basis: 49%;
        max-width: 49%;
        margin-right: 3%;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .btn[type="submit"] {
      margin-left: auto;
      margin-right: auto;
      margin-top: 36px;
    }
  }

  @media screen and (min-width: 1440px) {
    .signUp-form__row .signUp-form__col-4 {
      margin-right: 2.5%;
    }
    .signUp-form__row:first-of-type {
      margin-bottom: 19px;
    }
    .signUp-form__row .signUp-form__col-6 {
      margin-right: 2.5%;
    }
  }

  @media screen and (max-width: 768px) {
    .signUp-form {
      padding: 90px 0 100px;
      h2 {
        margin-bottom: 22px;
      }
      &__note {
        max-width: 400px;
        margin: 0 auto 51px;
        line-height: 23px;
      }
      &__row {
        .signUp-form__col-4 {
          margin-right: 4%;
        }
        .signUp-form__col-6 {
          margin-right: 4%;
        }
      }
    }
  }

  @media screen and (max-width: 678px) {
    .signUp-form {
      &__row {
        flex-wrap: wrap;
      }
      &__row:first-of-type {
        margin-bottom: -2px;
      }
      &__row .signUp-form__col-4 {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 14px;
      }
      &__row .signUp-form__col-6 {
        flex-basis: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 14px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .signUp-form {
      padding-top: 53px;
      padding-bottom: 62px;
      h2 {
        margin-bottom: 13px;
      }
      &__note {
        font-size: 16px;
        margin-bottom: 29px;
      }
      .btn[type="submit"] {
        margin-top: 7px;
      }
    }
  }
</style>
