<template>
  <footer class="footer" itemtype="http://schema.org/WPFooter">
    <div class="footer__wrapper">
      <div class="footer__top">
        <div class="container">
          <a href="/" class="footer__logo">
            <img src="/images/logo.png" />
          </a>
          <nav class="menu" />
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="footer__contacts">
            <a v-for="contact in contacts" :key="contact.id" :href="contact.href" class="link-bg">
              <span>
                <component :is="contact.component" />
              </span>
              <span :itemprop="contact.schemaType">{{ contact.text }}</span>
            </a>
          </div>
          <div class="footer__nav-block">
            <p class="footer__nav-header" style="text-align: right">Наші адреси:</p>
            <nav class="menu">
              <span
                class="link-bg"
              >
                вулиця Шовковична, 39/1, Київ, 01601
              </span>
              <span
                class="link-bg"
              >
                бульвар Тараса Шевченка, 17, Київ, 01030
              </span>
              <span
                class="link-bg"
              >
                1, вулиця Ризька, Київ, 04112
              </span>
                            <span
                class="link-bg"
              >
                вулиця Професора Підвисоцького, 4А, Київ, 02000
              </span>
                            <span
                class="link-bg"
              >
                вулиця Михайла Котельникова, 95, Київ, 03179
              </span>
                            <span
                class="link-bg"
              >
                вулиця Багговутівська, 1, Київ, 02000
              </span>
            </nav>
          </div>
        </div>
        <div class="container footer__links">
          <div class="footer__copy">
©BioCure
          </div>
          <div class="footer__socials">
            <a href="https://www.instagram.com/biocure_med/" class="icon">
              <Instagram />
            </a>
            <a href="https://twitter.com/bio_cure" class="icon">
              <Twitter />
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex'
import Facebook from '~/assets/svg/facebook.svg?inline'
import LinkedIn from '~/assets/svg/linkedin.svg?inline'
import Instagram from '~/assets/svg/instagram.svg?inline'
import Twitter from '~/assets/svg/twitter.svg?inline'
import Pinterest from '~/assets/svg/pinterest.svg?inline'
import Phone from '~/assets/svg/phone.svg?inline'
import Cellphone from '~/assets/svg/cellphone.svg?inline'
import Mail from '~/assets/svg/mail.svg?inline'

export default {
  scrollToTop: false,
  components: {
    Facebook,
    LinkedIn,
    Instagram,
    Twitter,
    Pinterest,
    Phone,
    Cellphone,
    Mail
  },
  data () {
    return {
      langs: [
        {
          id: 1,
          code: 'en'
        },
        {
          id: 2,
          code: 'de'
        }
      ],
      menuItems: [
        {
          id: 1,
          pathValue: '/',
          text: 'About me'
        },
        {
          id: 2,
          pathValue: '/',
          text: 'Relationships'
        },
        {
          id: 3,
          pathValue: '/',
          text: 'Users'
        },
        {
          id: 4,
          pathValue: '/signup',
          text: 'Sign Up'
        }
      ],
      contacts: [
        {
          id: 1,
          href: 'mailto:BioCure@med.ua',
          component: Mail,
          text: 'BioCure@med.ua',
          schemaType: 'email'
        },
        {
          id: 2,
          href: 'tel:+38 (050) 789 24 98',
          component: Cellphone,
          text: '+38 (050) 789 24 98',
          schemaType: 'telephone'
        },
        {
          id: 3,
          href: 'tel:+38 (095) 556 08 45',
          component: Phone,
          text: '+38 (095) 556 08 45',
          schemaType: 'telephone'
        }
      ],
      menuBlocks: [
        {
          id: 1,
          items: [
            {
              id: 1,
              text: 'footer.menu1'
            },
            {
              id: 2,
              text: 'footer.menu2'
            },
            {
              id: 3,
              text: 'footer.menu3'
            },
            {
              id: 4,
              text: 'footer.menu4'
            }
          ]
        },
        {
          id: 2,
          items: [
            {
              id: 1,
              text: 'footer.menu5'
            },
            {
              id: 2,
              text: 'footer.menu6'
            },
            {
              id: 3,
              text: 'footer.menu7'
            },
            {
              id: 4,
              text: 'footer.menu8'
            }
          ]
        },
        {
          id: 3,
          items: [
            {
              id: 1,
              text: 'footer.menu9'
            },
            {
              id: 2,
              text: 'footer.menu10'
            },
            {
              id: 3,
              text: 'footer.menu11'
            },
            {
              id: 4,
              text: 'footer.menu12'
            }
          ]
        },
        {
          id: 4,
          items: [
            {
              id: 1,
              text: 'footer.menu13',
              href: 'terms'
            },
            {
              id: 2,
              text: 'footer.menu14',
              href: 'terms'
            },
            {
              id: 3,
              text: 'footer.menu15'
            },
            {
              id: 4,
              text: 'footer.menu16'
            }
          ]
        }
      ]
    }
  },
  computed: {
    // mix the getters into computed with object spread operator
    ...mapGetters({
      currentLanguage: 'app/lang'
    })
  }
}
</script>

<style lang="scss" scoped>

  .footer {
    background: $secondary-color;
    &__contacts {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      font-family: $secondary-font;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 5px;
      margin-right: auto;
      margin-left: 0;
    }
    &__top .container {
      border-bottom: 1px solid #5674b9;
      padding-top: 29px;
      padding-bottom: 31px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__nav-header {
      font-size: 18px;
      margin-bottom: 10px;
      color: #fff;
      font-weight: 600;
    }

    &__logo {
      width: 134px;
      height: 24px;
      img {
        max-width: 100px;
        position: relative;
        top: -19px;
        left: -20px;
      }
      svg {
        fill: #fff;
        path {
          fill: #fff;
        }
      }
    }

    &__top .menu {
      a {
        margin-right: 30px;
      }
      a:last-of-type {
        margin-right: 0;
      }
    }

    &__bottom .container {
      padding-top: 15px;
      padding-bottom: 4px;
      display: flex;
    }
    &__bottom .container:nth-of-type(2) {
      padding-top: 18px;
      padding-bottom: 22px;
    }
    &__contacts {
      display: flex;
      flex-direction: column;
      padding-top: 15px;
      align-items: flex-start;
    }
    &__contacts a:hover {
      svg {
        g, path, polygon {
          fill: $primary-color
        }
      }
    }
    &__nav-block nav {
      display: flex;
      flex-direction: column;
      text-align: right;
      //line-height: 30px;
      align-items: flex-end;
      margin-top: 4px;
      color: #fff;
    }
    &__nav-block {
      margin-right: 122px;
      margin-top: 4px;
    }

    &__nav-block .link-bg {
      margin-bottom: 5px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__nav-block:nth-of-type(2) {
      margin-right: 0;
    }

    &__nav-block:nth-of-type(3) {
      margin-right: 0;
    }

    &__nav-block:last-of-type {
      margin-right: 0;
    }

    &__contacts .link-bg {
      display: flex;
      align-items: center;
      font-size: 20px;
      height: 20px;
      margin-bottom: 23px;
      color: #fff;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__contacts .link-bg span:first-of-type {
      display: flex;
      margin-right: 9px;
      width: 24px;
      align-items: center;
      justify-content: center;
      .icon {
        margin-top: 2px;
      }
    }

    &__contacts .link-bg:first-of-type span:first-of-type {
      position: relative;
      top: 3px;
    }

    &__links {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__copy {
      color: #ffffff;
      font-family: $secondary-font;
      font-size: 12px;
      font-weight: 400;
      margin-top: -2px;
    }

    &__lang {
      display: flex;
      margin-left: 38px;
      margin-top: -14px;
      &-item {
        width: 26px;
        height: 26px;
        align-items: center;
        line-height: 26px;
        font-family: $secondary-font-bold;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 6px;
        transition: .2s ease;
        justify-content: center;
        text-align: center;
        background-color: #ffffff;
        color: #283593;
      }
      a {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        &:hover {
          .footer__lang-item {
            background-color: $primary-color;
          }
        }
        &.active {
          pointer-events: none;

          .footer__lang-item {
            color: #ffffff;
            background-color: transparent;
          }
        }
      }
      a:last-of-type {
        margin-right: 0;
      }
    }
    &__socials {
      display: flex;
      margin-top: -14px;
      margin-right: -11px;
      .icon {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin-right: 9px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    &__links {
      padding-top: 18px;
    }
  }

  @media screen and (min-width: 1160px) {
    .footer {
      &__top .container {
        max-width: 1140px;
      }
      &__logo {
        margin-left: -15px;
      }
      &__top .menu {
        margin-right: -14px;
        margin-top: -2px;
      }
      &__socials {
        position: relative;
        top: 6px;
      }
      &__lang {
        position: relative;
        top: 6px;
      }
    }
    .footer__bottom .container:nth-of-type(2) {
      padding-top: 25px;
    }
  }

  @media screen and (max-width: 1160px) {
    .footer {
      &__nav-block {
        margin-right: 88px;
      }
      &__nav-block:nth-of-type(2) {
        margin-right: 83px;
      }
      &__nav-block:nth-of-type(3) {
        margin-right: 91px;
      }
      &__bottom .container:nth-of-type(2) {
        padding-top: 33px;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    .footer {
      &__nav-block:nth-of-type(n) {
        margin-right: 5%;
      }
      &__nav-block:last-of-type {
        margin-right: 0;
      }
    }
  }

  @media screen and (max-width: $mobile-big) {
    .footer {
      &__top .menu a {
        margin-right: 29px;
      }
      &__contacts {
        .link-bg span:first-of-type{
          display: none;
        }
        .link-bg {
          font-size: 18px;
        }
      }
      &__nav-block:nth-of-type(n) {
        margin-right: 7.2%;
      }
      &__nav-block:last-of-type {
        margin-right: 0;
      }
      &__nav-block:nth-of-type(3) {
        margin-right: 7.9%;
      }
      &__nav-block:nth-of-type(2) {
        margin-right: 6.5%;
      }
      &__copy {
        margin-top: -19px;
      }
      &__socials .icon {
        margin-right: 0;
        width: 48px;
        height: 48px;
      }
      &__nav-block {
        margin-top: 6px;
      }
    }
  }

  @media screen and (max-width: 676px) {
    .footer {
      &__nav-block {
        display: none;
      }
      &__contacts {
        margin-left: auto;
        text-align: center;
        align-items: center;
      }
      &__contacts .link-bg {
        justify-content: center;
      }
      &__links {
        flex-direction: column;
      }
      &__copy {
        order: 2;
        margin-bottom: 18px;
      }
      &__lang {
        order: 3;
        margin-left: 0;
        margin-top: 0;
      }
      &__socials {
        order: 1;
        margin: 0 0 20px;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    .footer {
      &__logo {
        margin-bottom: 14px;
      }
      &__top .container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 27px;
      }
      &__top .menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
      &__top .menu a:nth-of-type(n) {
        line-height: 26px;
        margin: 0;
      }
      &__bottom .container {
        padding-top: 11px;
        &:nth-of-type(2) {
          padding-top: 13px;
        }
      }
      &__contacts .link-bg {
        //line-height: 35px;
        margin-bottom: 15px;
      }
      &__copy {
        margin-top: -4px;
      }
      &__lang {
        margin-top: -4px;
      }
    }
  }

</style>
