<template>
  <header class="header">
    <div class="container">
      <div class="header__wrapper">
        <nuxt-link to="/" class="header__logo">
          <img src="/images/logo.png" />
        </nuxt-link>
        <nav class="header__menu menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
          <nuxt-link
            v-for="item in menuItems"
            :key="item.id"
            :to="$i18n.path(item.pathValue)"
            :class="item.class"
            itemprop="url"
          >
            {{ $t(item.text) }}
          </nuxt-link>
        </nav>
        <div class="header__burger" @click="toggle">
          <BurgerIcon />
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import BurgerIcon from '~/assets/svg/line-menu.svg?inline'

export default {
  components: {
    BurgerIcon
  },
  data () {
    return {
      menuItems: [
        {
          id: 1,
          pathValue: '#about',
          text: 'header.about',
          class: ''
        },
        {
          id: 2,
          pathValue: '#relationship',
          text: 'header.relationship',
          class: ''
        },
        {
          id: 3,
          pathValue: '#users',
          text: 'header.users',
          class: ''
        }
      ]
    }
  },
  computed:
    mapGetters({
      user: 'user/getUser',
      meta: 'user/getMeta'
    }),
  methods: {
    ...mapMutations({
      toggle: 'app/toggle'
    })
  }
}

</script>

<style lang="scss" scoped>
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: $background-color;
    z-index: 100;
    &__wrapper {
      padding: 12px 0;
      display: flex;
      align-items: center;
      height: 64px;
    }
    &__logo {
      width: 134px;
      height: 24px;
      margin-right: auto;
      img {
        max-width: 100px;
        position: relative;
        top: -19px;
      }
    }
    &__menu {
      margin-top: -4px;
      display: flex;
      a {
        margin-right: 29px;
        color: #000;
        &:hover {
          color: #ef6c00;
        }
      }
      a:last-of-type {
        margin-right: 0;
      }
    }
    &__burger {
      display: none;
      position: relative;
      top: 1px;
      cursor: pointer;
    }
    &__burger:after {
      content: '';
      position: absolute;
      width: 48px;
      height: 48px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    &__logout {
      margin-top: 5px;
    }
  }

  .user {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 59px;

    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 10px;
      text-align: right;
      max-width: 112px;
    }
    &__avatar {
      max-width: 40px;
      max-height: 40px;
      min-width: 40px;
      min-height: 40px;
      overflow: hidden;
      border-radius: 50%;
      img {
        display: block;
        width: 100%;
      }
    }
    &__name {
      font-size: 14px;
      color: $black;
      font-family: $secondary-font;
      line-height: 118%;
    }
    &__email {
      color: #8d8c8c;
      font-family: $secondary-font;
      font-size: 12px;
    }
  }

  .placeholder {
    display: flex;
    min-width: 161px;
    align-items: center;
    margin-right: 14px;
    margin-left: 45px;
    span {
      background-color: #e2e2e2;
    }
    .round-shape {
      min-width: 40px;
      min-height: 40px;
      border-radius: 50%;
    }
    .text-block {
      margin-right: 10px;
      margin-top: -1px;
      display: flex;
      width: 100%;
      flex-direction: column;
      margin-bottom: 0;
    }
    .text-row {
      height: 10px;
      &:nth-of-type(1) {
        width: 51%;
        margin-left: auto;
      }
      &:nth-of-type(2) {
        margin-top: 6px;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    .header {
      &__menu {
        margin-right: 30px;
      }
      .user {
        margin-left: 15px;
      }
    }
  }

  @media screen and (max-width: 820px) {
    .header {
      &__wrapper {
        padding: 8px 0 8px;
      }
      &__menu {
        display: none;
      }
      &__user {
        display: none;
      }
      &__logout {
        display: none;
      }
      .placeholder {
        display: none;
      }
      &__burger {
        display: flex;
      }
    }
  }

</style>
