<template>
  <aside v-click-outside="toggle" class="mobileMenu">
    <div class="mobileMenu__wrapper">
      <div class="mobileMenu__nav">
        <nav class="menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
          <nuxt-link v-for="item in menuItems" :key="item.id" itemprop="url" :to="item.pathValue" @click.prevent="toggle">{{ item.text }}</nuxt-link>
        </nav>
      </div>
    </div>
  </aside>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'

export default {
  data () {
    return {
      menuItems: [
        {
          id: 1,
          pathValue: '/#about',
          text: 'Чому ми?'
        },
        {
          id: 2,
          pathValue: '/#relationship',
          text: 'Головні переваги'
        },
        {
          id: 3,
          pathValue: '/#users',
          text: 'Кращі співробітники'
        }
      ]
    }
  },
  computed:
    mapGetters({
      user: 'user/getUser'
    }),
  methods: {
    ...mapMutations({
      toggle: 'app/toggle'
    })
  }
}
</script>

<style lang="scss" scoped>

  .mobileMenu {
    position: fixed;
    width: 250px;
    background-color: #fff;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow: auto;

    &__wrapper {
      padding-top: 30px;
    }

    &__user {
      padding-bottom: 24px;
      padding-left: 15px;
      padding-right: 15px;
      border-bottom: 1px solid #e1e1e1;
      &-img {
        max-width: 67px;
        max-height: 67px;
        margin-bottom: 20px;
        border-radius: 50%;
        overflow: hidden;
      }
      &-img img {
        display: block;
        width: 100%;
      }
      &-name {
        color: $black;
        font-family: $secondary-font;
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
        display: block;
      }
      &-mail {
        color: #8d8c8c;
        font-family: $secondary-font;
        font-size: 13px;
        font-weight: 400;
      }
    }
    &__nav {
      padding: 0 15px 34px;
      nav {
        display: flex;
        flex-direction: column;
      }
      a {
        margin-bottom: 20px;
        line-height: 100%;
      }
    }
  }
</style>
