<template>
  <v-tooltip bottom :disabled="!tooltip">
    <template v-slot:activator="{ on }">
      <span ref="text" class="text-overflow-tooltip" :class="{hasTooltip: tooltip}" v-on="on">
        <slot />
      </span>
    </template>
    <span>
      <slot />
    </span>
  </v-tooltip>
</template>
<script>
import debounce from '../utils/debounce'
export default {
  data () {
    return {
      tooltip: false
    }
  },
  mounted () {
    const { text } = this.$refs
    // if (!text) { return }
    setTimeout(() => {
      if (
        text.offsetWidth ===
        text.scrollWidth &&
        text.offsetWidth !== 0
      ) {
        text.style.width = `${text.offsetWidth + 2}px`
      } else if (
        text.offsetWidth < text.scrollWidth &&
        !this.tooltip
      ) {
        this.tooltip = true
      }
    }, 10)

    window.addEventListener('resize', debounce(this.recalc, 500))
  },
  destroyed () {
    window.removeEventListener('resize', debounce(this.recalc, 500))
  },
  methods: {
    recalc () {
      const { text } = this.$refs
      if (text) {
        if (
          text.offsetWidth ===
      text.scrollWidth &&
      text.offsetWidth !== 0
        ) {
          text.style.width = `${text.offsetWidth + 2}px`
          this.tooltip = false
        }
        if (
          text.offsetWidth <
      text.scrollWidth &&
      !this.tooltip
        ) {
          this.tooltip = true
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .text-overflow-tooltip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100% !important;
    display: block;
    text-align: center;
    &.hasTooltip {
      cursor: pointer;
    }
  }
</style>
