$body-font-family: 'Source Sans Pro';
$heading-font-family: 'Overpass';
$font-size-root: 16px;

// Widths
$mobile-sm: 479px;
$mobile: 600px;
$mobile-md: 678px;
$mobile-big: 768px;
$tablet: 992px;
$desktop: 1024px;
$desktop-xl: 1170px;

// Fonts
$default-font: 'Overpass-SemiBold', sans-serif; //400
$secondary-font: 'SourceSansPro-Regular', sans-serif;//400
$secondary-font-bold: 'SourceSansPro-Bold', sans-serif;//700
$sans-regular: 'OpenSans-Regular', sans-serif;

// Colors
$primary-color: rgb(239, 108, 0);
$secondary-color: rgb(40, 53, 147);
$background-color: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$error_color: #f44336;
