<template>
  <v-app>
    <div class="wrapper" :class="{overlay: mobileMenu}">
      <Menu v-if="mobileMenu" />
      <Header />
      <main>
        <nuxt />
      </main>
      <Footer />
    </div>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import Header from '~/components/Header'
import Menu from '~/components/Menu'
import Footer from '~/components/Footer'

export default {
  components: {
    Header,
    Menu,
    Footer
  },
  data () {
    return {
      webp: true
    }
  },
  computed: mapGetters({
    mobileMenu: 'app/mobileMenu'
  }),
  async mounted () {
    this.$store.dispatch('user/fetchUser')
    this.webp = await this.supportsWebp()
  },
  methods: {
    async supportsWebp () {
      if (!self.createImageBitmap) { return false }
      const webpData = 'data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA='
      const blob = await fetch(webpData).then(r => r.blob())
      return createImageBitmap(blob).then(() => true, () => false)
    }
  },
  head () {
    return {
      bodyAttrs: {
        class: this.webp ? 'webp' : 'no-webp'
      }
    }
  }
}
</script>
