<template>
  <div>
    <Banner />
    <About />
    <Technologies />
    <Users />
  </div>
</template>

<script>
import Users from '~/components/Home/Users'
import Banner from '~/components/Home/Banner'
import About from '~/components/Home/About'
import Technologies from '~/components/Home/Technologies'

export default {
  components: {
    Banner,
    About,
    Technologies,
    Users
  },
  head () {
    return {
      title: 'BioCure – мережа приватних медичних центрів повного циклу'
    }
  }
}
</script>
