<template>
  <div>
    <Banner />
    <SignupForm />
  </div>
</template>

<script>
import Banner from '~/components/Signup/Banner'
import SignupForm from '~/components/Signup/SignupForm'
export default {
  components: {
    Banner,
    SignupForm
  },
  head () {
    return {
      title: 'Sign up ',
      meta: [
        {
          name: 'og:title',
          content: 'Sign up | Nuxt task'
        },
        {
          name: 'twitter:title',
          title: 'Sign up | Nuxt task'
        }
      ]
    }
  }
}
</script>
