<template>
  <main class="terms">
    <div class="terms__header">
      <div class="container">
        <h2>{{ $t('terms.header') }}</h2>
        <p>{{ $t('terms.text1') }}</p>
      </div>
    </div>
    <div class="terms__main">
      <div class="container">
        <div class="terms__block">
          <h3>{{ $t('terms.text2') }}</h3>
          <p>
            {{ $t('terms.text3') }}
          </p>
          <p>
            {{ $t('terms.text4') }}
          </p>
        </div>
        <div class="terms__block">
          <h3>{{ $t('terms.text5') }}</h3>
          <p>
            {{ $t('terms.text6') }}
          </p>
          <ul>
            <li>{{ $t('terms.text7') }}</li>
            <li>{{ $t('terms.text8') }}</li>
            <li>{{ $t('terms.text9') }}</li>
            <li>{{ $t('terms.text10') }}</li>
            <li>{{ $t('terms.text11') }}</li>
          </ul>
          <p>
            {{ $t('terms.text12') }}
          </p>
        </div>
        <div class="terms__block">
          <h3>{{ $t('terms.text13') }}</h3>
          <h4>{{ $t('terms.text14') }}</h4>
          <p>
            {{ $t('terms.text15') }}
          </p>
          <h4>{{ $t('terms.text16') }}</h4>
          <p>
            {{ $t('terms.text17') }}
          </p>
          <p>
            {{ $t('terms.text18') }}
            <a class="link link-b" href="/">{{ $t('terms.text19') }}</a>.
            {{ $t('terms.text20') }}
          </p>
          <h4>{{ $t('terms.text21') }}</h4>
          <p>
            {{ $t('terms.text22') }}
          </p>
        </div>
        <div class="terms__block">
          <h3>{{ $t('terms.text23') }}</h3>
          <p>
            {{ $t('terms.text24') }}
          </p>
          <p>
            {{ $t('terms.text25') }}
          </p>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  head () {
    return {
      title: 'Terms and Conditions ',
      meta: [
        {
          name: 'og:title',
          content: 'Terms and Conditions | Nuxt task'
        },
        {
          name: 'twitter:title',
          title: 'Terms and Conditions | Nuxt task'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  .terms {
    &__header {
      padding-top: 51px;
      padding-bottom: 55px;
      background-color: #f6f6f6;
      text-align: center;
    }

    &__header p {
      color: #010000;
      font-family: 'SourceSansPro-Regular', sans-serif;
      font-size: 18px;
      font-weight: 400;
    }

    &__header h2 {
      margin-bottom: 13px;
    }

    &__main {
      padding-top: 53px;
      padding-bottom: 56px;
    }

    &__main h3 {
      margin-bottom: 19px;
    }

    &__main p {
      color: #393939;
      font-family: 'SourceSansPro-Regular', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.09px;

      * {
        font-size: 16px!important;
        line-height: 22px;
      }
    }

    ul {
      color: #393939;
      font-family: 'SourceSansPro-Regular', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 21px;
      list-style-type: none;
      padding-left: 30px;
      letter-spacing: -0.09px;
    }

    ul li {
      position: relative;
      margin-bottom: 10px;
    }

    ul li:before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: #283593;
      border-radius: 50%;
      left: -17px;
      top: 8px;
    }

    &__block {
      margin-bottom: 50px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__block p {
      margin-bottom: 22px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__block h4 {
      margin-bottom: 19px;
    }
  }

  @media screen and (max-width: 768px) {
    .terms {
      &__header {
        padding-top: 42px;
        padding-bottom: 44px;
      }
      &__main {
        padding-top: 44px;
        padding-bottom: 45px;
      }
      &__block {
        margin-bottom: 41px;
      }
      &__block:nth-of-type(3) {
        margin-bottom: 20px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .terms {
      &__main {
        padding-top: 26px;
        padding-bottom: 26px;
      }
      &__header {
        padding-top: 25px;
        padding-bottom: 25px;
      }
      &__header h2 {
        margin-bottom: 16px;
      }
      &__header p {
        font-size: 16px;
        line-height: 20px;
      }
      &__block {
        margin-bottom: 22px;
      }
      &__block h3 {
        margin-bottom: 10px;
      }
      &__block p {
        margin-bottom: 22px;
        letter-spacing: 0.01px;
      }
      &__block h4 {
        margin-bottom: 8px;
        font-size: 18px;
      }
      &__block:nth-of-type(3) {
        p {
          margin-bottom: 10px;
        }
        p:nth-of-type(3) {
          margin-top: 21px;
        }
      }
      ul li:after {
        top: 10px;
      }
    }
  }

  @media screen and (max-width: 920px) and (max-height: 500px) {
    .terms {
      &__main {
        padding-top: 26px;
        padding-bottom: 26px;
      }
      &__header {
        padding-top: 25px;
        padding-bottom: 25px;
      }
      &__header h2 {
        margin-bottom: 16px;
      }
      &__header p {
        font-size: 16px;
        line-height: 20px;
      }
      &__block {
        margin-bottom: 22px;
      }
      &__block h3 {
        margin-bottom: 10px;
      }
      &__block p {
        margin-bottom: 22px;
        letter-spacing: 0.01px;
      }
      &__block h4 {
        margin-bottom: 8px;
        font-size: 18px;
      }
      &__block:nth-of-type(3) {
        p {
          margin-bottom: 10px;
        }
        p:nth-of-type(3) {
          margin-top: 21px;
        }
      }
      ul li:after {
        top: 10px;
      }
    }
  }

</style>
